:root{
	--bg-dark: #191414;
	--spotify-green: #1DB954;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body, #root, .App{
	height: 100%;
}

body::-webkit-scrollbar {
	width: 0.3em;
	background: var(--bg-dark);
}

body::-webkit-scrollbar-thumb {
	background: var(--spotify-green);
	height: 20px;
	border-radius: 50px;
}

body::-webkit-scrollbar-track-piece
{
	display:none;
}

.App {
	background-color: var(--bg-dark);
}

.hero{
	height: 100vh;
}

.hero .grid-container{
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.hero .grid-container .logo-container{
	grid-column: 1/2;
	grid-row: 2/3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero .grid-container .logo-container h1{
	font-family: 'Playfair Display', serif;
	color: white;
	font-size: 120px;
}

.hero .grid-container .logo-container p{
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 32px;
}

.hero .grid-container .logo-container .Typewriter{
	display: inline;
}

.hero .grid-container .logo-container img{
	height: 28px;
	margin: 0px 10px;
}

/* Particles background */
#tsparticles{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
}

.features{
	height: 100vh;
	background-color: coral;
}